/**
 * @file
 * Discrete, reusable UI elements.
 */

/* **********************************************
/* General
/* ********************************************** */

html { background: #111; }
body { background: #fff; }
em { color: inherit; }
blockquote { background: #f5f5f5; display: block; font-size: 1rem; font-style: normal; line-height: 1.48; padding: 40px 33px; }

/* Margin top - reset */
* + address, * + dl, * + fieldset, * + figure, * + ol, * + p, * + pre, * + ul { margin-top: 0; }

/* Margin bottom - reset */
blockquote p:last-child, .uk-tile p:last-child, .uk-card p:last-child { margin-bottom: 0; }
.field:last-child.uk-margin { margin-bottom: 0; }

/* iOS style - reset */
input[type="submit"], input[type="button"] { -webkit-appearance: none; }

/* CKEditor image align */
img.align-right, figure.align-right { float: none; margin: 5px 0 20px; }
img.align-left, figure.align-left { float: none; margin: 5px 0 20px; }
img.align-center, figure.align-center { margin: 5px auto 20px; text-align: center; }
figcaption { font-size: 85%; margin-top: 2px; opacity: .42; }

/* Layout */
#page { position: relative; }
.banner-top-wrapper.uk-section-secondary, .banner-bottom-wrapper.uk-section-secondary { background: #111; }

/* accessibility impovements */
body.user-is-tabbing *:focus {
    outline: 2px solid #7AACFE !important; /* for non-webkit browsers */
    outline: 5px auto -webkit-focus-ring-color !important;
}

/* **********************************************
/* Drupal theme (classy/stable) - overrides
/* ********************************************** */

label.option { display: inline; font-weight: inherit; }
td.is-active { background-color: inherit; }
.tablesort { height: 14px; width: 14px; }
.pager ul { margin-top: 40px; }

/* Vertical tabs */
.vertical-tabs__panes .form-wrapper + .form-wrapper { margin-top: 0 !important; }

/* Drupal buttons */
.link:not(.uk-button) { -moz-appearance: none; -webkit-appearance: none; background: none; border: 0; color: #1976d2; cursor: pointer; display: inline; padding: 0; text-decoration: none; }
.link:not(.uk-button):focus, .link:not(.uk-button):hover { color: #0f6ecd; text-decoration: underline; }

/* file */
.form-item-files-file { padding: 15px; border: 1px solid #e5e5e5; }

/* Maintenance page */
.maintenance-page { padding: 40px 40px 80px; }
.maintenance-page img { height: 72px; width: auto; }
.maintenance-page h1 { margin: 60px 0 0; }
.maintenance-page main h1 { margin: 0 0 40px; }

/* **********************************************
/* UiKit 3 - overrides
/* ********************************************** */

* + .uk-h1, * + .uk-h2, * + .uk-h3, * + .uk-h4, * + .uk-h5, * + .uk-h6, * + .uk-heading-2xlarge, * + .uk-heading-large, * + .uk-heading-medium, * + .uk-heading-small, * + .uk-heading-xlarge, * + h1, * + h2, * + h3, * + h4, * + h5, * + h6 { margin-top: 20px; }
[class*=uk-navbar-dropdown-bottom] { margin-top: 0; }
p:last-child { margin-bottom: 0; }
.uk-label { border-radius: 1px; font-size: 12px; letter-spacing: 1px; padding: 1px 10px; white-space: normal; }
.uk-link, a { color: #0074CC; }
.uk-card-badge { right: inherit; }
.uk-breadcrumb { margin-bottom: 0; }
.uk-table caption { font-size: 1.25rem; }
.uk-light { color: rgba(255, 255, 255, 1); }
.uk-text-lead, .uk-text-large { font-size: 1.25rem; line-height: 1.5; }
.uk-text-small { font-size: 13px; line-height: 1.4; }
.uk-text-xsmall { font-size: 11px; line-height: 1.4; }
.uk-height-large { height: 420px; }
.uk-height-xlarge { height: 500px; }
.uk-hr, hr { margin: 0 0 30px; }
* + .uk-hr, * + hr { margin-top: 30px; }
.uk-icon-button { background-color: #222; color: #fff; }
.uk-button-small { font-size: 12px; }
.uk-button-default { background-color: #f8f8f8; }
.uk-logo { color: #333; display: block; }
.uk-logo img { min-width: 52px; }
.uk-sticky-fixed { z-index: 501; }
.uk-sticky.uk-active { background: #f8f8f8; }
.uk-sticky.uk-active .uk-navbar-item .uk-logo img { height: 48px; margin-bottom: inherit; }
.uk-nav-default { font-size: 1rem; }
.uk-navbar-toggle { padding: 0 5px 0 25px; }
.uk-navbar-container:not(.uk-navbar-transparent) { background: transparent; }
.uk-navbar-nav > li > a { font-family: inherit; }
.uk-subnav.uk-list li { margin-top: 0; }

/* Uikit tables */
.uk-table.sticky-header thead { background: #e5e5e5; border-bottom: 1px solid #ccc; }
.uk-table.sticky-header th { font-weight: 600; }

/* Uikit buttons */
.uk-button-default:focus, .uk-button-default:hover, .uk-button-default.uk-active, .uk-button-default:active { background-color: #fff; }
.uk-dropdown-nav > li > button, .uk-dropdown-nav > li > input { background-color: transparent; border: 0; color: #999; font-size: 14px; line-height: 21px; padding: 5px 0; text-transform: none; transition: none; }

.uk-dropdown-nav > li > button:hover, .uk-dropdown-nav > li > button:focus, .uk-dropdown-nav > li > input:hover, .uk-dropdown-nav > li > input:focus, .uk-dropdown-nav > li.uk-active > button, .uk-dropdown-nav > li.uk-active > input { color: #666; }
.uk-subnav > * > .uk-button-primary:first-child, .uk-subnav > * > .uk-button-secondary:first-child, .uk-subnav > * > .uk-button-danger:first-child { color: #fff; }

/* **********************************************
/* UiKit 3 - additional classes (not in framework)
/* ********************************************** */

.uk-text-white { color: #fff; }
.uk-text-black { color: #000; }

.uk-border { outline: 1px solid #e5e5e5; }
.uk-border-top { border-top: 1px solid #e5e5e5; }
.uk-border-bottom { border-bottom: 1px solid #e5e5e5; }
.uk-border-vertical { border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; }
.uk-border-horizontal { border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; }
.uk-border-remove { border: none !important; }
.uk-border-image-circle img { border-radius: 50%; }
.uk-border-image-rounded img { border-radius: 5px; }
.uk-border-image-pill img { border-radius: 50px; }
.uk-border-light { border-color: #fff; }
.uk-border-dark { border-color: #222; }

.uk-list-inline .uk-list:not(.contextual-links) li, .uk-list-inline.uk-list:not(.contextual-links) li { display: inline-block; margin-top: 0; padding: 0 15px; }
.uk-list-inline .uk-list li:first-child, .uk-list-inline.uk-list li:first-child { padding-left: 0; }
.uk-list-inline .uk-list li:last-child, .uk-list-inline.uk-list li:last-child { padding-right: 0; }
.uk-list-padding-remove li { padding-left: 0 !important; padding-right: 0 !important; }

.uk-padding-small-top { padding-top: 15px; }
.uk-padding-top { padding-top: 30px; }
.uk-padding-medium-top { padding-top: 40px; }
.uk-padding-large-top { padding-top: 70px; }
.uk-padding-xlarge-top { padding-top: 100px; }
.uk-padding-small-bottom { padding-bottom: 15px; }
.uk-padding-bottom { padding-bottom: 30px; }
.uk-padding-medium-bottom { padding-bottom: 40px; }
.uk-padding-large-bottom { padding-bottom: 70px; }
.uk-padding-xlarge-bottom { padding-bottom: 100px; }
.uk-padding-small-vertical { padding-bottom: 15px; padding-top: 15px; }
.uk-padding-vertical { padding-bottom: 30px; padding-top: 30px; }
.uk-padding-medium-vertical { padding-bottom: 40px; padding-top: 40px; }
.uk-padding-large-vertical { padding-bottom: 70px; padding-top: 70px; }
.uk-padding-xlarge-vertical { padding-bottom: 100px; padding-top: 100px; }

/* **********************************************
/* Navigation
/* ********************************************** */

.menu--main .uk-navbar-nav li:last-child a { padding-right: 0; }

/* Main menu -sidebar */
.region-sidebar-first .menu--main .uk-list ul, .region-sidebar-second .menu--main .uk-list ul { margin-top: 10px; padding-left: 16px; }
.region-sidebar-first .menu--main .uk-list ul li, .region-sidebar-second .menu--main .uk-list ul li { font-size: 13px; line-height: 21px; }
.region-sidebar-first .menu--main .uk-list ul li::before, .region-sidebar-second .menu--main .uk-list ul li::before { content: "\0203A"; display: inline; margin-left: -15px; margin-right: 5px; }

/* Main menu */
.menu--account .uk-list:not(.contextual-links) li { display: inline-block; margin-top: 0; padding: 0 15px; }
.menu--account .uk-list li:first-child { padding-left: 0; }
.menu--account .uk-list li:last-child { padding-right: 0; }

/* Footer menu */
.menu--footer .uk-list:not(.contextual-links) li { display: inline-block; margin-top: 0; padding: 0 15px; }
.menu--footer .uk-list li:first-child { padding-left: 0; }
.menu--footer .uk-list li:last-child { padding-right: 0; }

/* **********************************************
/* Forms
/* ********************************************** */

fieldset.form-wrapper { border: 1px solid #ddd; margin: 15px 0; padding: 15px; }
fieldset.form-wrapper legend { padding: 0 10px; width: auto; }
fieldset.form-wrapper legend:after { display: none; }
.form-actions * + input:not([type="hidden"]) { margin-left: 5px; }
.form-composite { border: 1px solid #eee; margin: 15px 0; padding: 20px; }
.form-composite > .uk-legend { display: inline; font-size: inherit; margin: 0; padding: 0 10px; width: auto; }

/* Autocomplete */
.js .form-autocomplete { background-position: 99% center; }

/* Views exposed form */
.views-field-body p:last-child { margin-bottom: 0; }
.views-exposed-form .form-actions { padding-top: 24px; }

/* Captcha - module */
.form-item-captcha-response .uk-input { width: 45px; }
.form-item-captcha-response .field-prefix { display: inline-block; line-height: 36px; }

/* Webform - module */
.webform-flexbox { margin-top: 0; }
.webform-element-help--content { font-size: 13px; line-height: 14px !important; margin: 10px; }
.webform-element-help--title { display: none; }
.webform-element--title-inline > label { display: inline; padding-left: .8em; padding-right: .5em; }

/* Toolbar - module */
#toolbar-administration { z-index: 1000 !important; }
.toolbar-tray > nav > ul, .toolbar-tray > nav > ul > li:nth-child(n+2), .toolbar-tray > nav > ul > li > ul { margin: 0; }

/* **********************************************
/* Reusable elements
/* ********************************************** */

.letterspacing-small { letter-spacing: 1px; }
.letterspacing-medium { letter-spacing: 2px; }
.letterspacing-large { letter-spacing: 3px; }
.letterspacing-xlarge { letter-spacing: 5px; }
.letterspacing-2xlarge { letter-spacing: 7px; }

.overlay-secondary-dark { background: rgba(0, 0, 0, .8); }
.overlay-primary-dark { background: rgba(98, 136, 121, .8); }
.overlay-muted-dark { background: rgba(255, 255, 255, .8); }
.overlay-secondary-light { background: rgba(0, 0, 0, .2); }
.overlay-primary-light { background: rgba(98, 136, 121, .1); }
.overlay-muted-light { background: rgba(255, 255, 255, .2); }
.overlay-secondary-totop { background: transparent; background: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)); }
.overlay-secondary-tobottom { background: transparent; background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)); }
.overlay-primary-totop { background: transparent; background: linear-gradient(to top, rgba(55, 93, 158, 0.92), rgba(55, 93, 158, 0)); }
.overlay-primary-tobottom { background: transparent; background: linear-gradient(to bottom, rgba(55, 93, 158, .9), rgba(55, 93, 158, 0)); }
.overlay-muted-totop { background: transparent; background: linear-gradient(to top, rgba(255, 255, 255, 0.92), rgba(55, 93, 158, 0)); }
.overlay-muted-tobottom { background: transparent; background: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(55, 93, 158, 0)); }
.overlay-top-left-light { background: rgba(255, 255, 255, .5); background: linear-gradient(135deg, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50%); }
.overlay-top-right-light { background: rgba(255, 255, 255, 1); background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); }
.overlay-top-left-dark { background: rgba(0, 0, 0, .6); background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 40%); }

/* **********************************************
/* Modules
/* ********************************************** */

/* Custom block - Large uk-icon */
.block-custom .uk-icon svg { height: 45px; width: auto; }

/* Custom block - Google map */
#map { background-color: #f5f5f5; min-height: 230px; width: 100%; }

/* Facets */
.facet-item { font-size: 94%; }
.block-facet--checkbox ul.item-list__checkbox { list-style: none; padding-left: 0; }
.block-facet--checkbox h2 { font-size: 16px; }
.facets-widget-checkbox .facet-item .facets-checkbox { margin-right: 5px; margin-top: 6px; vertical-align: top; }
.facets-widget-checkbox .facet-item label { display: inline-block; width: 86%; }
.summary ul { padding-left: 0; }
.summary li { list-style: none; margin-left: 0; }
.summary .reset { background-color: rgba(255, 255, 255, 0.1); font-size: 12px; }
.summary .reset:hover { background-color: rgba(255, 255, 255, 0.2); color: #fff; }

/* EU Compliance banner - cookie banner */
#sliding-popup { width: 100%; }
.eu-cookie-compliance-banner .uk-button { letter-spacing: 0.1em; padding: 0 35px; font-size: 11px; border-radius: 3px; }
.eu-cookie-compliance-banner.uk-section-secondary { background-color: rgba(6, 14, 29, 0.92); }
.eu-cookie-compliance-message h2 { line-height: 30px; margin-bottom: 5px; }
.eu-cookie-compliance-message p { margin-bottom: 0; }
.eu-cookie-compliance-buttons { float: none; max-width: 100%; margin-top: 5px; }
.find-more-button.uk-button-link { text-decoration: underline; border: none; margin-bottom: 15px; }
.find-more-button.uk-button-link:hover { opacity: 1; color: #fff; }
.eu-cookie-compliance-categories { width: 100%; }
.agree-button, .decline-button { margin-bottom: 5px; }
.uk-button.decline-button { border: none; text-decoration: underline; padding: 10px 35px; }
.eu-cookie-compliance-content { width: inherit; }

/* **********************************************
/* Responsive
/* ********************************************** */

/* Uikit sticky */
@media (max-width: 767px) {
    body.toolbar-vertical [uk-sticky], body.toolbar-horizontal [uk-sticky] { position: static !important; top: 0 !important; }
}

@media (min-width: 768px) {
    body.toolbar-vertical [uk-sticky], body.toolbar-horizontal [uk-sticky] { top: 39px !important; }
    body.toolbar-horizontal.toolbar-tray-open [uk-sticky] { top: 78px !important; }
}

@media (min-width: 960px) {
    img.align-right, figure.align-right { float: right; margin: 5px 0 20px 35px; }
    img.align-left, figure.align-left { float: left; margin: 5px 35px 20px 0; }
    img.align-center, figure.align-center { margin: 5px auto 20px; text-align: center; }
}

@media (min-width: 1200px) {
    .uk-padding-xlarge { padding: 140px; }
    .uk-padding-xlarge-top { padding-top: 140px; }
    .uk-padding-xlarge-bottom { padding-bottom: 140px; }
    .uk-padding-xlarge-vertical { padding-bottom: 140px; padding-top: 140px; }
    .uk-padding-small-left { padding-left: 15px; }
    .uk-padding-small-right { padding-right: 15px; }
    .uk-padding-small-vertical { padding-left: 15px; padding-right: 15px; }
    .uk-padding-left { padding-left: 40px; }
    .uk-padding-right { padding-right: 40px; }
    .uk-padding-vertical { padding-left: 40px; padding-right: 40px; }
}
