/* UIKIT3 safe responsive classes - for Drupal */

/* ========================================================================
   Child Widths
 ========================================================================== */

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-child-width-1-1--s > * {
    width: 100%;
  }
  .uk-child-width-1-2--s > * {
    width: 50%;
  }
  .uk-child-width-1-3--s > * {
    width: calc(100% * 1 / 3.001);
  }
  .uk-child-width-1-4--s > * {
    width: 25%;
  }
  .uk-child-width-1-5--s > * {
    width: 20%;
  }
  .uk-child-width-1-6--s > * {
    width: calc(100% * 1 / 6.001);
  }
  .uk-child-width-auto--s > * {
    width: auto;
  }
  .uk-child-width-expand--s > :not([class*='uk-width']) {
    flex: 1;
    min-width: 1px;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-child-width-1-1--m > * {
    width: 100%;
  }
  .uk-child-width-1-2--m > * {
    width: 50%;
  }
  .uk-child-width-1-3--m > * {
    width: calc(100% * 1 / 3.001);
  }
  .uk-child-width-1-4--m > * {
    width: 25%;
  }
  .uk-child-width-1-5--m > * {
    width: 20%;
  }
  .uk-child-width-1-6--m > * {
    width: calc(100% * 1 / 6.001);
  }
  .uk-child-width-auto--m > * {
    width: auto;
  }
  .uk-child-width-expand--m > :not([class*='uk-width']) {
    flex: 1;
    min-width: 1px;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-child-width-1-1--l > * {
    width: 100%;
  }
  .uk-child-width-1-2--l > * {
    width: 50%;
  }
  .uk-child-width-1-3--l > * {
    width: calc(100% * 1 / 3.001);
  }
  .uk-child-width-1-4--l > * {
    width: 25%;
  }
  .uk-child-width-1-5--l > * {
    width: 20%;
  }
  .uk-child-width-1-6--l > * {
    width: calc(100% * 1 / 6.001);
  }
  .uk-child-width-auto--l > * {
    width: auto;
  }
  .uk-child-width-expand--l > :not([class*='uk-width']) {
    flex: 1;
    min-width: 1px;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-child-width-1-1--xl > * {
    width: 100%;
  }
  .uk-child-width-1-2--xl > * {
    width: 50%;
  }
  .uk-child-width-1-3--xl > * {
    width: calc(100% * 1 / 3.001);
  }
  .uk-child-width-1-4--xl > * {
    width: 25%;
  }
  .uk-child-width-1-5--xl > * {
    width: 20%;
  }
  .uk-child-width-1-6--xl > * {
    width: calc(100% * 1 / 6.001);
  }
  .uk-child-width-auto--xl > * {
    width: auto;
  }
  .uk-child-width-expand--xl > :not([class*='uk-width']) {
    flex: 1;
    min-width: 1px;
  }
}

/* ========================================================================
   Single Widths
 ========================================================================== */

/* Phone landscape and bigger */
@media (min-width: 640px) {
  /* Whole */
  .uk-width-1-1--s {
    width: 100%;
  }
  /* Halves */
  .uk-width-1-2--s {
    width: 50%;
  }
  /* Thirds */
  .uk-width-1-3--s {
    width: calc(100% * 1 / 3.001);
  }
  .uk-width-2-3--s {
    width: calc(100% * 2 / 3.001);
  }
  /* Quarters */
  .uk-width-1-4--s {
    width: 25%;
  }
  .uk-width-3-4--s {
    width: 75%;
  }
  /* Fifths */
  .uk-width-1-5--s {
    width: 20%;
  }
  .uk-width-2-5--s {
    width: 40%;
  }
  .uk-width-3-5--s {
    width: 60%;
  }
  .uk-width-4-5--s {
    width: 80%;
  }
  /* Sixths */
  .uk-width-1-6--s {
    width: calc(100% * 1 / 6.001);
  }
  .uk-width-5-6--s {
    width: calc(100% * 5 / 6.001);
  }
  /* Pixel */
  .uk-width-small--s {
    width: 150px;
  }
  .uk-width-medium--s {
    width: 300px;
  }
  .uk-width-large--s {
    width: 450px;
  }
  .uk-width-xlarge--s {
    width: 600px;
  }
  .uk-width-xxlarge--s {
    width: 750px;
  }
  /* Auto */
  .uk-width-auto--s {
    width: auto;
  }
  /* Expand */
  .uk-width-expand--s {
    flex: 1;
    min-width: 1px;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  /* Whole */
  .uk-width-1-1--m {
    width: 100%;
  }
  /* Halves */
  .uk-width-1-2--m {
    width: 50%;
  }
  /* Thirds */
  .uk-width-1-3--m {
    width: calc(100% * 1 / 3.001);
  }
  .uk-width-2-3--m {
    width: calc(100% * 2 / 3.001);
  }
  /* Quarters */
  .uk-width-1-4--m {
    width: 25%;
  }
  .uk-width-3-4--m {
    width: 75%;
  }
  /* Fifths */
  .uk-width-1-5--m {
    width: 20%;
  }
  .uk-width-2-5--m {
    width: 40%;
  }
  .uk-width-3-5--m {
    width: 60%;
  }
  .uk-width-4-5--m {
    width: 80%;
  }
  /* Sixths */
  .uk-width-1-6--m {
    width: calc(100% * 1 / 6.001);
  }
  .uk-width-5-6--m {
    width: calc(100% * 5 / 6.001);
  }
  /* Pixel */
  .uk-width-small--m {
    width: 150px;
  }
  .uk-width-medium--m {
    width: 300px;
  }
  .uk-width-large--m {
    width: 450px;
  }
  .uk-width-xlarge--m {
    width: 600px;
  }
  .uk-width-xxlarge--m {
    width: 750px;
  }
  /* Auto */
  .uk-width-auto--m {
    width: auto;
  }
  /* Expand */
  .uk-width-expand--m {
    flex: 1;
    min-width: 1px;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Whole */
  .uk-width-1-1--l {
    width: 100%;
  }
  /* Halves */
  .uk-width-1-2--l {
    width: 50%;
  }
  /* Thirds */
  .uk-width-1-3--l {
    width: calc(100% * 1 / 3.001);
  }
  .uk-width-2-3--l {
    width: calc(100% * 2 / 3.001);
  }
  /* Quarters */
  .uk-width-1-4--l {
    width: 25%;
  }
  .uk-width-3-4--l {
    width: 75%;
  }
  /* Fifths */
  .uk-width-1-5--l {
    width: 20%;
  }
  .uk-width-2-5--l {
    width: 40%;
  }
  .uk-width-3-5--l {
    width: 60%;
  }
  .uk-width-4-5--l {
    width: 80%;
  }
  /* Sixths */
  .uk-width-1-6--l {
    width: calc(100% * 1 / 6.001);
  }
  .uk-width-5-6--l {
    width: calc(100% * 5 / 6.001);
  }
  /* Pixel */
  .uk-width-small--l {
    width: 150px;
  }
  .uk-width-medium--l {
    width: 300px;
  }
  .uk-width-large--l {
    width: 450px;
  }
  .uk-width-xlarge--l {
    width: 600px;
  }
  .uk-width-xxlarge--l {
    width: 750px;
  }
  /* Auto */
  .uk-width-auto--l {
    width: auto;
  }
  /* Expand */
  .uk-width-expand--l {
    flex: 1;
    min-width: 1px;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  /* Whole */
  .uk-width-1-1--xl {
    width: 100%;
  }
  /* Halves */
  .uk-width-1-2--xl {
    width: 50%;
  }
  /* Thirds */
  .uk-width-1-3--xl {
    width: calc(100% * 1 / 3.001);
  }
  .uk-width-2-3--xl {
    width: calc(100% * 2 / 3.001);
  }
  /* Quarters */
  .uk-width-1-4--xl {
    width: 25%;
  }
  .uk-width-3-4--xl {
    width: 75%;
  }
  /* Fifths */
  .uk-width-1-5--xl {
    width: 20%;
  }
  .uk-width-2-5--xl {
    width: 40%;
  }
  .uk-width-3-5--xl {
    width: 60%;
  }
  .uk-width-4-5--xl {
    width: 80%;
  }
  /* Sixths */
  .uk-width-1-6--xl {
    width: calc(100% * 1 / 6.001);
  }
  .uk-width-5-6--xl {
    width: calc(100% * 5 / 6.001);
  }
  /* Pixel */
  .uk-width-small--xl {
    width: 150px;
  }
  .uk-width-medium--xl {
    width: 300px;
  }
  .uk-width-large--xl {
    width: 450px;
  }
  .uk-width-xlarge--xl {
    width: 600px;
  }
  .uk-width-xxlarge--xl {
    width: 750px;
  }
  /* Auto */
  .uk-width-auto--xl {
    width: auto;
  }
  /* Expand */
  .uk-width-expand--xl {
    flex: 1;
    min-width: 1px;
  }
}

/* ========================================================================
   Alignment modifiers
 ========================================================================== */

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-text-left--s {
    text-align: left !important;
  }
  .uk-text-right--s {
    text-align: right !important;
  }
  .uk-text-center--s {
    text-align: center !important;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-text-left--m {
    text-align: left !important;
  }
  .uk-text-right--m {
    text-align: right !important;
  }
  .uk-text-center--m {
    text-align: center !important;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-text-left--l {
    text-align: left !important;
  }
  .uk-text-right--l {
    text-align: right !important;
  }
  .uk-text-center--l {
    text-align: center !important;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-text-left--xl {
    text-align: left !important;
  }
  .uk-text-right--xl {
    text-align: right !important;
  }
  .uk-text-center--xl {
    text-align: center !important;
  }
}

/* ========================================================================
   Width modifiers
 ========================================================================== */

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-column-1-2--s {
    column-count: 2;
  }
  .uk-column-1-3--s {
    column-count: 3;
  }
  .uk-column-1-4--s {
    column-count: 4;
  }
  .uk-column-1-5--s {
    column-count: 5;
  }
  .uk-column-1-6--s {
    column-count: 6;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-column-1-2--m {
    column-count: 2;
  }
  .uk-column-1-3--m {
    column-count: 3;
  }
  .uk-column-1-4--m {
    column-count: 4;
  }
  .uk-column-1-5--m {
    column-count: 5;
  }
  .uk-column-1-6--m {
    column-count: 6;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-column-1-2--l {
    column-count: 2;
  }
  .uk-column-1-3--l {
    column-count: 3;
  }
  .uk-column-1-4--l {
    column-count: 4;
  }
  .uk-column-1-5--l {
    column-count: 5;
  }
  .uk-column-1-6--l {
    column-count: 6;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-column-1-2--xl {
    column-count: 2;
  }
  .uk-column-1-3--xl {
    column-count: 3;
  }
  .uk-column-1-4--xl {
    column-count: 4;
  }
  .uk-column-1-5--xl {
    column-count: 5;
  }
  .uk-column-1-6--xl {
    column-count: 6;
  }
}

/* ========================================================================
   Image
 ========================================================================== */

/* Phone portrait and smaller */
@media (max-width: 639px) {
  .uk-background-image--s {
    background-image: none !important;
  }
}
/* Phone landscape and smaller */
@media (max-width: 959px) {
  .uk-background-image--m {
    background-image: none !important;
  }
}
/* Tablet landscape and smaller */
@media (max-width: 1199px) {
  .uk-background-image--l {
    background-image: none !important;
  }
}
/* Desktop and smaller */
@media (max-width: 1599px) {
  .uk-background-image--xl {
    background-image: none !important;
  }
}

/* ========================================================================
   Component: Align
 ========================================================================== */

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-align-left--s {
    margin-top: 0;
    margin-right: 30px;
    float: left;
  }
  .uk-align-right--s {
    margin-top: 0;
    margin-left: 30px;
    float: right;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-align-left--m {
    margin-top: 0;
    margin-right: 30px;
    float: left;
  }
  .uk-align-right--m {
    margin-top: 0;
    margin-left: 30px;
    float: right;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-align-left--l {
    margin-top: 0;
    float: left;
  }
  .uk-align-right--l {
    margin-top: 0;
    float: right;
  }
  .uk-align-left,
  .uk-align-left--s,
  .uk-align-left--m,
  .uk-align-left--l {
    margin-right: 40px;
  }
  .uk-align-right,
  .uk-align-right--s,
  .uk-align-right--m,
  .uk-align-right--l {
    margin-left: 40px;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-align-left--xl {
    margin-top: 0;
    margin-right: 40px;
    float: left;
  }
  .uk-align-right--xl {
    margin-top: 0;
    margin-left: 40px;
    float: right;
  }
}

/* ========================================================================
   Alignment
 ========================================================================== */

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-flex-left--s {
    justify-content: flex-start;
  }
  .uk-flex-center--s {
    justify-content: center;
  }
  .uk-flex-right--s {
    justify-content: flex-end;
  }
  .uk-flex-between--s {
    justify-content: space-between;
  }
  .uk-flex-around--s {
    justify-content: space-around;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-flex-left--m {
    justify-content: flex-start;
  }
  .uk-flex-center--m {
    justify-content: center;
  }
  .uk-flex-right--m {
    justify-content: flex-end;
  }
  .uk-flex-between--m {
    justify-content: space-between;
  }
  .uk-flex-around--m {
    justify-content: space-around;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-flex-left--l {
    justify-content: flex-start;
  }
  .uk-flex-center--l {
    justify-content: center;
  }
  .uk-flex-right--l {
    justify-content: flex-end;
  }
  .uk-flex-between--l {
    justify-content: space-between;
  }
  .uk-flex-around--l {
    justify-content: space-around;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-flex-left--xl {
    justify-content: flex-start;
  }
  .uk-flex-center--xl {
    justify-content: center;
  }
  .uk-flex-right--xl {
    justify-content: flex-end;
  }
  .uk-flex-between--xl {
    justify-content: space-between;
  }
  .uk-flex-around--xl {
    justify-content: space-around;
  }
}

/* ========================================================================
   Item ordering
 ========================================================================== */

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-flex-first--s {
    order: -1;
  }
  .uk-flex-last--s {
    order: 99;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-flex-first--m {
    order: -1;
  }
  .uk-flex-last--m {
    order: 99;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-flex-first--l {
    order: -1;
  }
  .uk-flex-last--l {
    order: 99;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-flex-first--xl {
    order: -1;
  }
  .uk-flex-last--xl {
    order: 99;
  }
}

/* Auto
 ========================================================================== */

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-margin-auto--s {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .uk-margin-auto-left--s {
    margin-left: auto !important;
  }
  .uk-margin-auto-right--s {
    margin-right: auto !important;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-margin-auto--m {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .uk-margin-auto-left--m {
    margin-left: auto !important;
  }
  .uk-margin-auto-right--m {
    margin-right: auto !important;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-margin-auto--l {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .uk-margin-auto-left--l {
    margin-left: auto !important;
  }
  .uk-margin-auto-right--l {
    margin-right: auto !important;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-margin-auto--xl {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .uk-margin-auto-left--xl {
    margin-left: auto !important;
  }
  .uk-margin-auto-right--xl {
    margin-right: auto !important;
  }
}

/* Remove
 ========================================================================== */
/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-margin-remove-left--s {
    margin-left: 0 !important;
  }
  .uk-margin-remove-right--s {
    margin-right: 0 !important;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-margin-remove-left--m {
    margin-left: 0 !important;
  }
  .uk-margin-remove-right--m {
    margin-right: 0 !important;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-margin-remove-left--l {
    margin-left: 0 !important;
  }
  .uk-margin-remove-right--l {
    margin-right: 0 !important;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-margin-remove-left--xl {
    margin-left: 0 !important;
  }
  .uk-margin-remove-right--xl {
    margin-right: 0 !important;
  }
}

/* ========================================================================
   Component: Visibility
 ========================================================================== */

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-hidden--s {
    display: none !important;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-hidden--m {
    display: none !important;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-hidden--l {
    display: none !important;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-hidden--xl {
    display: none !important;
  }
}
/*
 * Visible
 */
/* Phone portrait and smaller */
@media (max-width: 639px) {
  .uk-visible--s {
    display: none !important;
  }
}
/* Phone landscape and smaller */
@media (max-width: 959px) {
  .uk-visible--m {
    display: none !important;
  }
}
/* Tablet landscape and smaller */
@media (max-width: 1199px) {
  .uk-visible--l {
    display: none !important;
  }
}
/* Desktop and smaller */
@media (max-width: 1599px) {
  .uk-visible--xl {
    display: none !important;
  }
}