{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set btn_classes = [
  'uk-button',
  element['#button_type'] ? 'uk-button-' ~ element['#button_type']|clean_class,
  not element['#button_type'] ? 'uk-button-default',
] %}
<input{{ attributes.addClass(btn_classes) }} />{{ children }}
