@import "https://fonts.googleapis.com/css?family=Open+Sans:300,700";

html, p, li, .uk-text-lead { font-family: 'Opens Sans', sans-serif; line-height: 24px; font-weight: 300; color: #444; }

figcaption { opacity: .42; font-size: 85%; margin-top: 2px; }

hr { height: 1px; border-width: 0; color: #eaeaea; background-color: #eaeaea; }
.uk-hr, hr { margin: 0 0 30px 0; }
* + .uk-hr, * + hr { margin-top: 30px; }

blockquote::after {
  content: "";
  clear: both;
  display: table; }

blockquote {
  background: #f8f8f8;
  margin: 1.5em 0;
  padding: 20px 33px !important;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.48 !important; }

.uk-button { line-height: 40px; background: #eee; padding: 0 20px; display: inline-block; color: #333; text-decoration: none; }
.uk-button-primary { background: #0075c2; color: #fff; }
.uk-button-secondary { background: #333; color: #fff; }

.uk-text-lead { font-size: 1.25rem; line-height: 1.48; }
.uk-text-meta { font-size: 1.25rem; color: #bbb; }
.uk-text-small { font-size: 13px; color: #666 !important; }
.uk-text-large { font-size: 1.25rem; line-height: 1.48; color: #666 !important; }
.uk-text-muted { color: #bbb !important; }
.uk-text-danger { color: #f0506e !important; }
