/* Purely visual styling (“look-and-feel”) for a website. */
/* **************************************************************
 1. GENERAL ***
 * ************************************************************** */


/* **************************************************************
 2. MENU ***
 * ************************************************************** */


/* **************************************************************
 3. UIKIT overrides ***
 * ************************************************************** */


/* **************************************************************
 4. LAYOUT ***
 * ************************************************************** */


/* **************************************************************
 6. ELEMENTS ***
 * ************************************************************** */


/* **************************************************************
 5. THEMING ***
 * ************************************************************** */


/* **************************************************************
 7. RESPONSIVE ***
 * ************************************************************** */

/* MOUSE device (no hover support) ------------------------------ */
@media (hover: hover) {
}

/* NARROW Layout - Small @s ------------------------------------- */
@media (min-width: 640px) {
}

/* TABLET Layout - Medium @m ------------------------------------- */
@media (min-width: 960px) {
}

/* LAPTOP Layout - Large @l ---------------------------------------- */
@media (min-width: 1200px) {
}

/* WIDE SCREEN Layout - xLarge @xl --------------------------------- */
@media (min-width: 1600px) {
}
