{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
  <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 class="pager__heading visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pager__items js-pager__items uk-pagination uk-flex-center">
      {% if items.previous %}
        <li class="pager__item pager__item--previous uk-padding-remove">
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}"
             rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true" class="uk-margin-small-right" uk-pagination-previous></span> {{ 'Previous'|t }}
          </a>
        </li>
      {% endif %}
      {% if items.current %}
        <li class="pager__item is-active uk-active uk-text-lowercase uk-padding uk-padding-remove-vertical">
          {% trans %}
            Page {{ items.current }}
          {% endtrans %}
        </li>
      {% endif %}
      {% if items.next %}
        <li class="pager__item pager__item--next uk-padding-remove">
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}"
             rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            {{ 'Next'|t }} <span aria-hidden="true" class="uk-margin-small-left" uk-pagination-next></span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
