{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set first_classes = [
  'layout__region--first',
  settings.column_widths == '50-50' ? 'uk-width-1-2@m',
	settings.column_widths == '67-33' ? 'uk-width-2-3@m',
	settings.column_widths == '33-67' ? 'uk-width-1-3@m',
	settings.column_widths == '25-75' ? 'uk-width-1-4@m',
	settings.column_widths == '75-25' ? 'uk-width-3-4@m',
] %}

{% set second_classes = [
  'layout__region--second',
  settings.column_widths == '50-50' ? 'uk-width-1-2@m',
	settings.column_widths == '67-33' ? 'uk-width-1-3@m',
	settings.column_widths == '33-67' ? 'uk-width-2-3@m',
	settings.column_widths == '25-75' ? 'uk-width-3-4@m',
	settings.column_widths == '75-25' ? 'uk-width-1-4@m',	
] %}

{% if content %}
  <div{{ attributes.addClass('uk-section').removeClass('layout--twocol-section') }}>
		<div uk-grid>
		
    {% if content.first %}
      <div {{ region_attributes.first.addClass(first_classes) }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass(second_classes) }}>
        {{ content.second }}
      </div>
    {% endif %}

	  </div>
  </div>
{% endif %}
