{#
/**
 * @file
 * Default theme implementation for a three-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set first_classes = [
  'layout__region--first',
  settings.column_widths == '25-50-25' ? 'uk-width-1-4@m',
	settings.column_widths == '33-34-33' ? 'uk-width-1-3@m',
	settings.column_widths == '25-25-50' ? 'uk-width-1-4@m',
	settings.column_widths == '50-25-25' ? 'uk-width-1-2@m',
] %}

{% set second_classes = [
  'layout__region--second',
  settings.column_widths == '25-50-25' ? 'uk-width-1-2@m',
	settings.column_widths == '33-34-33' ? 'uk-width-1-3@m',
	settings.column_widths == '25-25-50' ? 'uk-width-1-4@m',
	settings.column_widths == '50-25-25' ? 'uk-width-1-4@m',
] %}

{% set third_classes = [
  'layout__region--third',
  settings.column_widths == '25-50-25' ? 'uk-width-1-4@m',
	settings.column_widths == '33-34-33' ? 'uk-width-1-3@m',
	settings.column_widths == '25-25-50' ? 'uk-width-1-2@m',
	settings.column_widths == '50-25-25' ? 'uk-width-1-4@m',
] %}

{% if content %}
  <div{{ attributes.addClass('uk-section').removeClass('layout--threecol-section') }}>
   <div uk-grid>
	 
    {% if content.first %}
      <div {{ region_attributes.first.addClass(first_classes) }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass(second_classes) }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass(third_classes) }}>
        {{ content.third }}
      </div>
    {% endif %}

    </div>
  </div>
{% endif %}
