{#
/**
 * @file
 * Default theme implementation for a four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout--fourcol-section',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes, 'uk-section') }}>
	  <div uk-grid>

    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout__region--first', 'uk-width-1-2@s', 'uk-width-1-4@m') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout__region--second', 'uk-width-1-2@s', 'uk-width-1-4@m') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass('layout__region--third', 'uk-width-1-2@s', 'uk-width-1-4@m') }}>
        {{ content.third }}
      </div>
    {% endif %}

    {% if content.fourth %}
      <div {{ region_attributes.fourth.addClass('layout__region--fourth', 'uk-width-1-2@s', 'uk-width-1-4@m') }}>
        {{ content.fourth }}
      </div>
    {% endif %}

    </div>
  </div>
{% endif %}
