{#
/**
 * @file
 * Theme override to display a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @see uikit_preprocess_breadcrumb()
 *
 * @ingroup uikit_themeable
 */
#}
{% if breadcrumb %}
  <nav aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="uk-breadcrumb">
      {% for item in breadcrumb %}
        {% if item.url %}
          <li><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% else %}
          {% if not item.active %}
            <li><span>{{ item.text }}</span></li>
          {% else %}
            <li class="uk-active"><span>{{ item.text }}</span></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
