{#
/**
 * @file
 * Theme override to display an offcanvas menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *   - is_external: TRUE if the link is external.
 *
 * @see uikit_preprocess_menu__offcanvas()
 *
 * @ingroup uikit_themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% set classes = [
      menu_level == 0 ? 'uk-nav',
      menu_level == 0 ? 'uk-nav-default',
      menu_level == 0 ? 'uk-nav-parent-icon',
      menu_level > 0 ? 'uk-nav-sub',
    ] %}

    <ul{{ attributes.addClass(classes) }}{% if menu_level == 0 %} uk-nav{% endif %}>
      {% for item in items %}
        {% set item_classes = [item.below ? 'uk-parent'] %}
        {% if item.display_item %}
          <li{{ item.attributes.addClass(item_classes) }}>
          {% if item.has_url or item.is_external %}
            {{ link(item.title, item.url) }}
          {% else %}
            <a href="#">{{ item.title }}</a>
          {% endif %}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes.removeClass(classes), menu_level + 1) }}
          {% endif %}
        {% endif %}
        </li>
      {% endfor %}
    </ul>

  {% endif %}
{% endmacro %}
