{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @see uikit_preprocess_menu_local_tasks()
 *
 * @ingroup uikit_themeable
 */
#}
{% if primary %}
  <div id="primary-tasks">
    <h2 class="visually-hidden">{{ 'Primary tasks'|t }}</h2>
    <ul class="uk-tab">{{ primary }}</ul>
  </div>
{% endif %}
{% if secondary %}
  <div id="secondary-tasks">
    <h2 class="visually-hidden">{{ 'Secondary tasks'|t }}</h2>
    <ul class="uk-tab">{{ secondary }}</ul>
  </div>
{% endif %}
