{#
/**
 * @file
 * Theme override to display status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup uikit_themeable
 */
#}
{% set status_classes = {
  'status': 'uk-alert-success',
  'error': 'uk-alert-danger',
  'warning': 'uk-alert-warning',
} %}
{% for type, messages in message_list %}
  <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
    {% if status_headings[type] %}
      <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
    {% endif %}
    <div class="uk-alert {{ status_classes[type] }}" role="alert" uk-alert>
      <a class="uk-alert-close uk-close uk-icon" uk-close></a>
      {% if messages|length > 1 %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% else %}
        <p>{{ messages|first }}</p>
      {% endif %}
    </div>
  </div>
{% endfor %}
