{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'uk-margin',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if content %}
  <nav role="navigation" aria-label="{{ 'Tabs'|t }}">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </nav>
  {% endif %}
</div>
