{#
/**
 * @file
 * Theme override to display the branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @see template_preprocess_block()
 * @see uikit_preprocess_block()
 *
 * @ingroup uikit_themeable
 */
#}
{% if site_logo or site_name or site_slogan %}
  <div{{ attributes.addClass('uk-navbar-item uk-padding-remove-left') }}>
  {% if site_logo or site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="uk-logo">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />{% if site_name %} {{ site_name }}{% endif %}

    </a>
  {% endif %}

  {% if site_slogan %}
    <span>{{ site_slogan }}</span>
  {% endif %}
</div>
{% endif %}
