{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see uikit_preprocess_block()
 *
 * @ingroup uikit_themeable
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-block-slideshow',
  'uk-overflow-hidden',
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}

      {% set sectionclass = content.field_section_css.0['#context'].value |striptags|drupal_escape %}
      {% set containerclass = content.field_container_css.0['#context'].value |striptags|drupal_escape %}
      {% set col1class = content.field_column1_class.0['#context'].value |striptags|drupal_escape %}

      <div class="{{ sectionclass }}">
        <div class="{{ containerclass }}">					
				
				
          <div class="{{ col1class }}" uk-grid uk-lightbox="animation: slide">
            {# Loop items/keys not starting a hash symbol #}
            {% for key, item in content.field_gallery if key|first != '#' %}
            <div class="uk-text-center">
              <div class="uk-inline-clip uk-transition-toggle" tabindex="0">

              <a href="{{ content.field_gallery[loop.index0]['#item'].entity.uri.value | image_style('extra_large') }}">
							
                <img data-src="{{ content.field_gallery[loop.index0]['#item'].entity.uri.value | image_style('large_landscape') }}" alt="{{ content.field_gallery[loop.index0]['#item'].alt }}" width="620" height="413" class="uk-transition-scale-up uk-transition-opaque" uk-img>
								
                <div class="uk-position-cover uk-overlay-default uk-transition-fade">							
                  <div class="uk-position-center">
                      <span uk-overlay-icon></span>
                  </div>
                </div>													
								
              </a>	

              </div>
            </div>	
            {% endfor %}	
            {# End loop #}
          </div>	
										

        </div>
      </div>

    {% endblock %}
  </div>
{% endif %}
