{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see uikit_preprocess_block()
 *
 * @ingroup uikit_themeable
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'uk-cover-container',
  'block-custom',
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}

      {% set sectionclass = content.field_section_css.0['#context'].value |striptags|drupal_escape %}
      {% set containerclass = content.field_container_css.0['#context'].value |striptags|drupal_escape %}
      {% set overlayclass = content.field_overlay_css.0['#context'].value |striptags|drupal_escape %}
      {% set buttonclass = content.field_button_class.0['#context'].value |striptags|drupal_escape %}

      {% if content.field_image.0 %}
        <div class="uk-position-cover {{ overlayclass }}"></div>
      {% endif %}

      <div class="{{ sectionclass }} uk-background-cover"
          {% if content.field_image.0 %} style="background-image: url('{{ content.field_image.0['#item'].entity.uri.value | image_style('fullscreen') }}');" uk-parallax="bgy: -200;"{% endif %}>

        <div class="{{ containerclass }}">

          {% set text1class = content.field_text1_css.0['#context'].value |striptags|drupal_escape %}
          {% set icon1class = content.field_icon1.0['#context'].value |striptags|drupal_escape %}
          {% set col1class = content.field_column1_class.0['#context'].value |striptags|drupal_escape %}
          {% set img1wrapper = content.field_image1_wrapper.0['#context'].value |striptags|drupal_escape %}
          {% set img1class = content.field_image1_css.0['#context'].value |striptags|drupal_escape %}

          <div class="uk-child-width-1-1" uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 200; repeat: true;" uk-grid>

            <div class="{{ col1class }}">
              {% if content.field_image1.0 %}
                <div class="uk-cover-container {{ img1wrapper }}">
                  <img src="{{ content.field_image1.0['#item'].entity.uri.value | image_style('extra_large_landscape') }}"
                       alt="{{ content.field_image1.0['#item'].alt }}" class="{{ img1class }}" uk-cover>
                  <canvas width="600" height="400"></canvas>
                  {% if overlayclass %}
                  <div class="uk-position-cover {{ overlayclass }}"></div>{% endif %}
                </div>
              {% endif %}

              {% if content.field_icon1.0 %}<i class="icon {{ icon1class }}"></i><span uk-icon="{{ icon1class }}"></span>{% endif %}
              <div class="{{ text1class }}">{{ content.field_text1 }}
                {% if content.field_link1.0 %}
                  <a href="{{ content.field_link1.0['#url'] |drupal_escape }}"
                     class="uk-button {{ buttonclass }}">
                    {{ content.field_link1.0['#title'] |striptags|drupal_escape }}
                  </a>
                {% endif %} </div>
            </div>

          </div>

        </div>
      </div>

    {% endblock %}

  </div>
{% endif %}
