{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see uikit_preprocess_block()
 *
 * @ingroup uikit_themeable
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-block-slideshow',
  'uk-overflow-hidden',
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}

      {% set sectionclass = content.field_section_css.0['#context'].value |striptags|drupal_escape %}
      {% set containerclass = content.field_container_css.0['#context'].value |striptags|drupal_escape %}
      {% set col2class = content.field_column2_class.0['#context'].value |striptags|drupal_escape %}
      {% set image1css = content.field_image1_css.0['#context'].value |striptags|drupal_escape %}

      <div class="{{ sectionclass }}">
        <div class="{{ containerclass }}">

          <div class="uk-position-relative uk-visible-toggle uk-light {{ col2class }}"
               uk-slideshow="autoplay: true; autoplay-interval: 15000; min-height: 230; max-height=500;">

            <ul class="uk-slideshow-items uk-child-width-1-1">
              {# Loop items/keys not starting a hash symbol #}
              {% for key, item in content.field_image if key|first != '#' %}
                <li class="uk-background-secondary">
                  <img
                    src="{{ content.field_image[loop.index0]['#item'].entity.uri.value | image_style('fullscreen') }}"
                    alt="{{ content.field_image[loop.index0]['#item'].alt }}" class="{{ image1css }}" uk-cover>
                </li>
              {% endfor %}
            </ul>

            {# Get image #}
            {# content.field_image.0 #}

            {# Get image url #}
            {# file_url(content.field_image.0['#item'].entity.uri.value) #}

            {# Get image url + style (module dependency: twig tweak) #}
            {# content.field_image.0['#item'].entity.uri.value | image_style('thumbnail') #}
               
            <div class="uk-position-bottom-center uk-position-medium uk-visible@s">
              <ul class="uk-slideshow-nav uk-dotnav"></ul>
            </div>
            
            <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" title="previous" aria-label="previous" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" title="next" aria-label="next" uk-slidenav-next uk-slideshow-item="next"></a>
            
          </div>

        </div>
      </div>

    {% endblock %}
  </div>
{% endif %}
