{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see uikit_preprocess_block()
 *
 * @ingroup uikit_themeable
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-block-hero1',
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}

      {% set sectionclass = content.field_section_css.0['#context'].value |striptags|drupal_escape %}
      {% set containerclass = content.field_container_css.0['#context'].value |striptags|drupal_escape %}
      {% set overlayclass = content.field_overlay_css.0['#context'].value |striptags|drupal_escape %}

      <div class="{{ sectionclass }}">
        <div class="{{ containerclass }}">

          <div class="uk-position-relative uk-visible-toggle uk-light"
               uk-slideshow="autoplay: true; autoplay-interval: 12000; min-height: 500; max-height: 630;"
               uk-height-match=".bb-cal-height">

            <ul class="uk-slideshow-items uk-child-width-1-1 bb-cal-height">
              {# Loop items/keys not starting a hash symbol #}
              {% for key, item in content.field_image if key|first != '#' %}
                <li class="uk-text-center">
                  <img
                    src="{{ content.field_image[loop.index0]['#item'].entity.uri.value  | image_style('fullscreen_banner') }}" alt="{{ content.field_image[loop.index0]['#item'].alt }}"
                    uk-cover>
                </li>
              {% endfor %}
            </ul>

            {% if content.field_image.0 and content.field_overlay_css.0 %}
              <div class="uk-position-cover {{ overlayclass }}"></div>
            {% endif %}

            {# Get image #}
            {# content.field_image.0 #}

            {# Get image url #}
            {# file_url(content.field_image.0['#item'].entity.uri.value) #}

            {# Get image url + style (module dependency: twig tweak) #}
            {# content.field_image.0['#item'].entity.uri.value | image_style('thumbnail') #}

            {% set col1class = content.field_column1_class.0['#context'].value |striptags|drupal_escape %}

            <div class="uk-position-top uk-width-1-1 bb-cal-height">
              <div class="uk-container">
                <div class="{{ col1class }}">

                  {% set titleclass = content.field_text1_css.0['#context'].value |striptags|drupal_escape %}
                  {% set subclass = content.field_text2_css.0['#context'].value |striptags|drupal_escape %}

                  {% if content.field_title1.0 %} 
                  <h1 class="uk-margin {{ titleclass }}"
                      uk-scrollspy="cls:uk-animation-slide-bottom; delay: 100; repeat: true;">{{ content.field_title1.0 }}</h1>
                  {% endif %}
                      
                  {% if content.field_subtitle2.0 %}    
                  <h2 class="uk-margin {{ subclass }}"
                      uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300; repeat: true;">{{ content.field_subtitle2.0 }}</h2>
                  {% endif %}

                  {% if content.field_link1 or content.field_link2 %}
                    <div uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 500; repeat: true;"
                         class="uk-margin uk-margin-bottom">
                      {% if content.field_link1.0 %}
                        <a href="{{ content.field_link1['0']['#url'] }}"
                           class="uk-button uk-button-default uk-border-pill uk-margin-small-right uk-margin-bottom">
                          {{ content.field_link1['0']['#title'] }}
                        </a>
                      {% endif %}
                      {% if content.field_link2.0 %}
                        <a href="{{ content.field_link2['0']['#url'] }}"
                           class="uk-button uk-button-default uk-border-pill uk-margin-bottom">
                          {{ content.field_link2['0']['#title'] }}
                        </a>
                      {% endif %}
                    </div>
                  {% endif %}

                </div>
              </div>
            </div>
            
            <div class="uk-position-bottom-center uk-position-medium uk-visible@s">
              <ul class="uk-slideshow-nav uk-dotnav"></ul>
            </div>
            
            <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" title="previous" aria-hidden="true" tabindex="-1" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" title="next" aria-hidden="true" tabindex="-1" uk-slidenav-next uk-slideshow-item="next"></a>

          </div>

        </div>
      </div>

    {% endblock %}
  </div>
{% endif %}
