{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see uikit_preprocess_block()
 *
 * @ingroup uikit_themeable
 */
#}
{% set classes = [
  'block',
  'block-testimonial1',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}

      {% set sectionclass = content.field_section_css.0['#context'].value |striptags|drupal_escape %}
      {% set containerclass = content.field_container_css.0['#context'].value |striptags|drupal_escape %}

      <div class="{{ sectionclass }} uk-position-relative uk-visible-toggle">
        <div class="{{ containerclass }}">

          {% set text1class = content.field_text1_css.0['#context'].value |striptags|drupal_escape %}
          {% set text2class = content.field_text2_css.0['#context'].value |striptags|drupal_escape %}
          {% set text3class = content.field_text3_css.0['#context'].value |striptags|drupal_escape %}

          <h2 class="{{ text1class }}">{{ content.field_title1 }}</h2>

          <div class="" uk-slider>

            <ul class="uk-slider-items uk-child-width-1-1">
              {% if content.field_text1.0 %}
                <li>
                    <h3 class="{{ text2class }}">{{ content.field_text1.0 }}</h3>
                    <p class="{{ text3class }}">{{ content.field_caption1.0 }}</p>
                </li>
              {% endif %}
              {% if content.field_text2.0 %}
                <li>

                    <h3 class="{{ text2class }}">{{ content.field_text2.0 }}</h3>
                    <p class="{{ text3class }}">{{ content.field_caption2.0 }}</p>
                </li>
              {% endif %}
              {% if content.field_text3.0 %}
                <li>
                    <h3 class="{{ text2class }}">{{ content.field_text3.0 }}</h3>
                    <p class="{{ text3class }}">{{ content.field_caption3.0 }}</p>
                </li>
              {% endif %}
              {% if content.field_text4.0 %}
                <li>
                    <h3 class="{{ text2class }}">{{ content.field_text4.0 }}</h3>
                    <p class="{{ text3class }}">{{ content.field_caption4.0 }}</p>
                </li>
              {% endif %}
            </ul>

            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" title="previous" aria-label="previous" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" title="next" aria-label="next" href="#" uk-slidenav-next uk-slider-item="next"></a>

          </div>

        </div>
        <!-- end container -->
      </div>
      <!-- end section -->
    {% endblock %}

  </div>
{% endif %}
