{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see uikit_preprocess_block()
 *
 * @ingroup uikit_themeable
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-block-hero1',
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}

      {% set sectionclass = content.field_section_css.0['#context'].value |striptags|drupal_escape %}
      {% set containerclass = content.field_container_css.0['#context'].value |striptags|drupal_escape %}

      <div class="{{ sectionclass }}">
        <div id="map" class="{{ containerclass }}"></div>
      </div>

      <script>
          function initMap() {
              var myLatLng = {
                  lat: {{ content.field_latitude |drupal_escape|striptags|trim }},
                  lng: {{ content.field_longitude |drupal_escape|striptags|trim }}};

              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: {{ content.field_zoom |drupal_escape|striptags|trim }},
                  center: myLatLng,
                  styles: [

                      {
                          "featureType": "all",
                          "elementType": "labels.text",
                          "stylers": [
                              {
                                  "visibility": "on"
                              }
                          ]
                      },
                      {
                          "featureType": "landscape",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "color": "#f1efeb"
                              }
                          ]
                      },
                      {
                          "featureType": "poi",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "visibility": "off"
                              }
                          ]
                      },
                      {
                          "featureType": "road",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "saturation": -100
                              },
                              {
                                  "lightness": 45
                              }
                          ]
                      },
                      {
                          "featureType": "road.highway",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "visibility": "simplified"
                              }
                          ]
                      },
                      {
                          "featureType": "road.arterial",
                          "elementType": "labels.icon",
                          "stylers": [
                              {
                                  "visibility": "off"
                              }
                          ]
                      },
                      {
                          "featureType": "transit",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "visibility": "off"
                              }
                          ]
                      },
                      {
                          "featureType": "water",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "color": "#aad2e3"
                              },
                              {
                                  "visibility": "on"
                              }
                          ]
                      }
                  ]
              });

              var marker = new google.maps.Marker({
                  position: myLatLng,
                  map: map,
                  title: 'Location'
              });
          }
      </script>
      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key={{ content.field_api_key |drupal_escape|striptags|trim }}&callback=initMap"></script>

    {% endblock %}
  </div>
{% endif %}
