{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set main_classes = [
  'content-wrapper',
  page.content |render|striptags|trim ? 'uk-section',
] %}

<div id="page"{% if page.offcanvas %} class="uk-offcanvas-content"{% endif %}>

  <header id="header">

    {% if page.banner_top %}
      <div class="banner-top-wrapper uk-section uk-section-xsmall uk-section-secondary">
        {{ page.banner_top }}
      </div>
    {% endif %}

    <div class="navbar-wrapper">
      <div class="uk-container">
        {% if page.navbar or page.branding %}
          <nav class="uk-navbar-container uk-navbar" uk-navbar>
            {{ page.branding }}
            {% if page.navbar %}
              <div class="uk-navbar-right">
                {% if page.offcanvas %}
                  <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" title="offcanvas menu" uk-navbar-toggle-icon uk-toggle></a>
                {% endif %}
                {{ page.navbar }}
              </div>
            {% endif %}
          </nav>
        {% endif %}
      </div>
    </div>

    {% if page.breadcrumbs %}
      <div class="breadcrumbs-wrapper">
        {{ page.breadcrumbs }}
      </div>
    {% endif %}

    {% if page.header %}
      <div class="header-wrapper">
        {{ page.header }}
      </div>
    {% endif %}

  </header>
  <!-- end header -->

  <div id="content" class="{% if not is_front %}uk-background-default{% endif %}">

    {% if page.help %}
      <div class="help-wrapper">
        {{ page.help }}
      </div>
    {% endif %}

    {% if page.preface_fullwidth %}
      <div class="preface-wrapper-fullwidth">
        {{ page.preface_fullwidth }}
      </div>
    {% endif %}

    {% if page.preface %}
      <div class="preface-wrapper uk-section uk-section-muted">
        {{ page.preface }}
      </div>
    {% endif %}

    <main{{ attributes.addClass(main_classes) }}>
      {# link is in html.html.twig #}
      <a id="main-content" tabindex="-1"></a>
      <div class="uk-container uk-animation-slide-bottom-small">
        <div uk-grid>

          {% if page.content %}
            <div class="layout-content uk-width-expand">
              {{ page.content }}
            </div>
          {% endif %}

          {% if page.sidebar_first %}
            <aside class="layout-sidebar-first uk-width-1-4@m uk-flex-first">
              {{ page.sidebar_first }}
            </aside>
          {% endif %}

          {% if page.sidebar_second %}
            <aside class="layout-sidebar-second uk-width-1-4@m uk-flex-last">
              {{ page.sidebar_second }}
            </aside>
          {% endif %}

        </div>
      </div>
    </main>

    {% if page.content_fullwidth %}
      <div class="content-wrapper-fullwidth">
        {{ page.content_fullwidth }}
      </div>
    {% endif %}

    {% if page.postscript %}
      <div class="postscript-wrapper uk-container uk-section uk-section-muted">
        {{ page.postscript }}
      </div>
    {% endif %}

    {% if page.postscript_fullwidth %}
      <div class="postscript-wrapper-fullwidth">
        {{ page.postscript_fullwidth }}
      </div>
    {% endif %}

  </div>
  <!-- end content -->

  <footer id="footer">

    {% if page.footer %}
      <div class="footer-wrapper uk-section uk-section-secondary">
        {{ page.footer }}
      </div>
    {% endif %}

    {% if page.footer_fullwidth %}
      <div class="footer-wrapper-fullwidth">
        {{ page.footer_fullwidth }}
      </div>
    {% endif %}

    {% if page.banner_bottom %}
      <div class="banner-bottom-wrapper uk-section uk-section-xsmall uk-section-secondary">
        {{ page.banner_bottom }}
      </div>
    {% endif %}

  </footer>
  <!-- end footer -->

  {% if page.offcanvas %}
    <div id="offcanvas" uk-offcanvas="uk-offcanvas">
      {{ page.offcanvas }}
    </div>
    <!-- end offcanvas -->
  {% endif %}

</div>
