{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 * @see uikit_preprocess_region()
 *
 * @ingroup uikit_themeable
 */
#}
{% set classes = [
  'region',
  'region-' ~ region|clean_class,
  'uk-container',
] %}
{% if content %}
  <div class="uk-section uk-padding-remove-vertical">
    <div{{ attributes.addClass(classes) }}>
      {{ content }}
    </div>
  </div>
{% endif %}
